<%= simple_form_for(resource, html: { class: 'login-form'}, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                    label: false,
    placeholder: 'E-mail',
                input_html: { autocomplete: "email" } %>
  </div>

<%= render 'users/shared/button_submit', f: f, text: 'Recuperar senha' %>

<% end %>

<%= render "users/shared/links" %>
